gradle-wrapper.jar
/.gradle
/captures/
/gradlew
/gradlew.bat
/local.properties
GeneratedPluginRegistrant.java

# Remember to never publicly share your keystore.
# See https://flutter.dev/to/reference-keystore
key.properties
**/*.keystore
**/*.jks

# Android related
/android/.gradle/
/android/app/.cxx/
/android/app/build/
/android/build/

# Flutter/Dart related
.dart_tool/
/build/
/.packages
.pub/
/.flutter-plugins
.flutter-plugins-dependencies
.metadata

# IDE related
.idea/
.vscode/
*.iml
*.ipr
*.iws